body {
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: rgb(255, 247, 232);
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: auto;
  width: auto;
  padding: 20px;
  margin-bottom: 10px;
}

.header-left {
  display: flex;
  gap: 10px;
}

.header-right {
  display: flex;
  justify-content: end;
}

section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  background-color: white;
  height: 90vh;
  width: auto;
  padding: 20px;
}

.editor-window {
  border: 1px solid black;
}

.preview-window {
  border: 1px solid black;
}

button {
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: darkblue;
  color: white;
}

button:hover {
  opacity: 0.8;
}
