body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 15px;
  background-color: rgb(255, 247, 232);
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: auto;
  width: auto;
  padding: 30px 20px 20px 20px;
  border: 2px solid white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header-left {
  display: flex;
  gap: 10px;
}

.header-right {
  display: flex;
  justify-content: end;
}

section {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 80vh;
  width: auto;
  padding: 30px 20px 20px 20px;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button {
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: darkblue;
  color: white;
}

button:hover {
  opacity: 0.8;
}
