body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  background-color: rgb(239, 239, 239);
  height: 100vh;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: auto;
  width: auto;
  padding: 30px 20px 20px 20px;
  margin-bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header-left {
  display: flex;
  gap: 10px;
}

.header-right {
  display: flex;
  justify-content: end;
}

/* Main section */
section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  height: 100vh;
  width: auto;
}

.editor-window,
.preview-window {
  background-color: white;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid black;
}

label {
  font-size: 1.1rem;
  font-weight: 700;
}

input {
  background-color: rgb(239, 239, 239);
  height: 60px;
  width: auto;
  border: none;
  border-radius: 10px;
}

input[placeholder] {
  font-size: 1.2rem;
  padding-left: 20px;
}

/* Personal Form */
.input-full-name, .input-profession {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Preview window */
.preview-window {
  padding: 20px 20px 0 20px;
}

/* CV sheet preview */
.preview-pdf {
  height: 100%;
  width: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Buttons  */
button {
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: darkblue;
  color: white;
}

button:hover {
  opacity: 0.8;
}
