body {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: rgb(33, 33, 33);
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  height: auto;
  width: auto;
  padding: 20px;
  margin: 20px;
  border: 3px solid white;
  border-radius: 20px;
}

.header-left {
  display: flex;
  gap: 10px;
  border: 1px solid white;
}

.header-right {
  display: flex;
  border: 1px solid white;
  justify-content: end;
}

button {
  padding: 20px 50px;
  border-radius: 10px;
}