body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  background-color: rgb(239, 239, 239);
  height: 100vh;
}

/* Editor title */
h1 {
  margin: 0;
  padding-bottom: 30px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: auto;
  width: auto;
  padding: 30px 20px 20px 20px;
  margin-bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header-tab-navigation {
  display: flex;
  gap: 10px;
}

.header-tab-navigation button {
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(239, 239, 239);
  color: black;
}

.header-download-btn button {
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: darkblue;
  color: white;
}

button:hover {
  opacity: 0.8;
}

/* Main section */
section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  height: 100vh;
  width: auto;
}

.editor-window,
.preview-window {
  background-color: white;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

label {
  font-size: 1.1rem;
  font-weight: 700;
}

input {
  background-color: rgb(239, 239, 239);
  height: 60px;
  width: auto;
  border: 3px solid rgb(239, 239, 239);
  border-radius: 10px;
  outline: none;
  transition: 0.5s;
}

input:focus {
  border: 3px solid rgb(212, 212, 212);
}

input[placeholder] {
  font-size: 1.2rem;
  padding-left: 15px;
}

textarea {
  background-color: rgb(239, 239, 239);
  height: 120px;
  width: auto;
  border: none;
  border-radius: 10px;
  resize: none;
  outline: none;
  border: 3px solid rgb(239, 239, 239);
  transition: 0.5s;
}

textarea[placeholder] {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding: 15px;
}

textarea:focus {
  border: 3px solid rgb(212, 212, 212);
}

/* Personal Form */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Preview window */
.preview-window {
  padding: 20px 20px 0 20px;
}

/* CV sheet preview */
.preview-pdf {
  height: 100%;
  width: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
